.forecast {
  width: 100%;
  height: 53%;
  padding: 0 3rem;
  background-color: #fff;
  border-radius: 0 0 25px 25px;
  box-shadow: inset 0 7px 25px -7px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    transition: all 0.3s ease;
    transition-delay: 0.4s;

    opacity: 0;

    .child {
      width: 6rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        width: 3rem;
        height: 3rem;
      }

      span {
        color: rgb(58, 71, 78);
      }
    }
  }
}

@media only screen and (max-device-width: 1024px) and(max-device-height: 1366px) {
  .forecast {
    padding: 0;
    border: none;

    .container {
      padding: 0;
      color: white;

      .child {
        z-index: 2;

        span {
          color: white;
        }
      }
    }
  }
}

@media only screen and (max-device-width: 414px) and(max-device-height: 823px) {
  .forecast {
    background-color: transparent;
    height: 35%;

    .container {
      height: 100%;
      .child {
        h2 {
          font-size: 1.05rem;
          font-weight: lighter;
        }
        img {
          width: 1.75rem;
          height: 1.75rem;
        }
      }
    }
  }
}
@media only screen and (max-device-width: 375px) and(max-device-height: 667px) {
  .forecast {
  }
}
