.main {
  position: relative;
  height: 45rem;
  width: 70rem;
  margin: auto;
  border-radius: 25px;
  box-shadow: 0 0 25px 0px rgb(75, 59, 71);

  .top {
    position: relative;
    width: 100%;
    height: 47%;
    color: white;
    display: flex;
    background-color: black;
    border-radius: 25px 25px 0 0;

    .background {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      opacity: 0.7;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        border-radius: 25px 25px 0 0;
      }
    }

    * {
      z-index: 1;
    }

    .left {
      height: 100%;
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // padding-right: 5rem;

      .temp {
        margin: 0;
        font-weight: lighter;
        font-size: 6rem;
      }

      .description {
        margin: {
          top: 0.5rem;
          bottom: 1.5rem;
        }
        font-weight: lighter;
        font-size: 1.5rem;
        opacity: 0.9;
        text-transform: uppercase;
      }

      .details {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.9;

        span {
          text-align: center;
          font-weight: lighter;
          width: 8rem;
          line-height: 1.75rem;
        }

        .line {
          width: 1px;
          height: 3rem;
          background-color: #fff;
          margin: 0 1rem;
        }
      }
    }

    .right {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 5rem 7rem;

      h1 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-weight: normal;
        font-size: 2.5rem;
      }

      .line {
        background-color: #fff;
        height: 0.25rem;
        width: 7rem;
        border-radius: 1rem;
      }
    }
  }
}

@media only screen and (max-device-width: 1024px) and(max-device-height: 1366px) {
  .main {
    width: 100%;
    height: calc(100% - 5rem);
    box-shadow: none;

    * {
      border-radius: 0 !important;
    }
  }
}

@media only screen and (max-device-width: 768px) and(max-device-height: 1024px) {
  .main {
    .top {
      .left {
        padding-left: 5rem;
      }

      .right {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 5rem 4rem;
      }
    }
  }
}

@media only screen and (max-device-width: 414px) and(max-device-height: 823px) {
  .main {
    justify-content: center;
    .top {
      flex-direction: column;
      height: 65%;
      justify-content: space-around;

      .left {
        order: 2;
        width: 100%;
        padding: 0;
        height: auto;
      }

      .right {
        height: auto;
        width: 100%;
        align-items: center;
        padding: 0;
      }
    }
  }
}

@media only screen and (max-device-width: 375px) and(max-device-height: 667px) {
  .main {
    .top {
      .left {
        .temp {
          font-size: 4rem;
        }
      }
      .right {
        h1 {
          font-size: 2rem;
        }
      }
    }
  }
}
